## Yatsa Data Analytics

Yatsa is company that helps you track and manage your assets better. 
This notebook is a quick look at the data that Yatsa collects from their user's assets and the trips the assets being tracked have made. The goal of the analytics is to provide insights from the data and answer the following business questions:
- What is the average distance travelled by vehicles in a day, week or month?
- What are the most common destination for vehicles and how frequent do they travel to  these destinations?

### Extra
- Any trends in driver behaviour for example speeding?
- Any pattern or trends in the types of trips made by vehicles for example: do smaller vehicles travel through smaller distances.

`trips.json` file is too large to be uploaded to github. It can be download from [here](https://drive.google.com/drive/folders/1cVddbKWqv8B9NF6B0ALS3Rv4vZAxEi1Z?usp=share_link)

In [1]:
import pandas as pd
assets = pd.read_json('Data/assets.json')
trips = pd.read_json('Data/trips.json')

In [2]:
assets.head()

        id                             make                 model    year
0  QRmYjfT                TOYOTA Ractis 1.0            Ractis 1.0  2006.0
1  DpXMzg3                    Lexus CT 200h               CT 200h     NaN
2  4tQe9sV                    Honda Odyssey               Odyssey     NaN
3  x2LJWsl  MITSUBISHI Lancer Cedia LA-CS2A  Lancer Cedia LA-CS2A  2005.0
4  eH0O4bf                           Nissan                  Note  2011.0

In [3]:
trips.head()

,id,created,asset_id,origin,destination,distance,points
0,35Ldjpf,2022-03-14T17:31:51.003+00:00,0ROajub,"{'latitude': -1.043220043182373, 'longitude': ...","{'latitude': -1.041213035583496, 'longitude': ...",4321.65,"[{'bearing': 0.0, 'location': {'latitude': -1...."
1,agWTdy5,2023-03-07T08:53:55.607+00:00,0gMAW5w,"{'latitude': -1.305577039718628, 'longitude': ...","{'latitude': -1.430601000785827, 'longitude': ...",24703.24,"[{'bearing': 0.0, 'location': {'latitude': -1...."
2,mcXsPmo,2023-03-07T06:40:53.771+00:00,0gMAW5w,"{'latitude': -1.4300669431686401, 'longitude':...","{'latitude': -1.305637955665588, 'longitude': ...",30689.27,"[{'bearing': 0.0, 'location': {'latitude': -1...."
3,WRBY3Lt,2023-03-07T05:12:29.007+00:00,0gMAW5w,"{'latitude': -1.305490016937255, 'longitude': ...","{'latitude': -1.429965019226074, 'longitude': ...",24609.34,"[{'bearing': 0.0, 'location': {'latitude': -1...."
4,1WaNBeb,2023-03-07T03:15:18.67+00:00,0gMAW5w,"{'latitude': -1.397143959999084, 'longitude': ...","{'latitude': -1.30559504032135, 'longitude': 3...",28395.71,"[{'bearing': 0.0, 'location': {'latitude': -1...."

In [4]:
trips.describe()

            distance
count    4804.000000
mean    11241.547325
std     20407.447419
min       101.510000
25%      1634.500000
50%      4962.310000
75%     11809.925000
max    342478.600000